!!!	
html(ng-app="admin")
	head
		meta(charset="utf-8")

		title Admin Main Media Master
		
		link(rel="stylesheet", href="admin/css/bootstrap.min.css")
		link(rel="stylesheet", href="admin/css/bootstrap-wysihtml5.css")
		link(rel="stylesheet", href="admin/css/redactor.css")
		link(rel="stylesheet", href="admin/css/admin.css")

		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="admin/libs/bootstrap.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js")
		

		script(src="admin/libs/wysihtml5-0.4.0pre.min.js")
		script(src="admin/libs/bootstrap-wysihtml5.js")
		script(src="admin/app.js")
		script(src="admin/controllers.js")
		script(src="admin/service.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js")

	body
		.container
			.navbar
				.navbar-inner
					a.brand(href='#') Main Media Master
					ul.nav
						li.active
							a(href='#main') Main
						li
							a(href='#about') About
						li
							a(href='#service') Service
						li
							a(href='#work') Work
						li
							a(href='#contactacs') Contactacs

		.container
			.row
				.span-12
					section#main(ng-controller="ControllerMain")
						//- text editor
						form(class="editor")
							h2 Main Text
							textarea.textarea(placeholder='Enter text ...')
							br
							button(type="button", class="btn btn-success btn-large", ng-click="save()") Save
						//- list clients
						h4 Список клиентов
						.row
							.span2(ng-repeat="client in clients", class="client")
								img(ng-src="{{client.img}}" ,alt="")
								button(
								  ng-click="removeItem(client._id, client.type)", 
								  class="btn btn-danger") Удалить
						h4 Добавить клиента	
						form(method="post", 
							action="/admin/saveIteam", 
							enctype="multipart/form-data", 
							class="span6 well", style="margin:0 0 20px;"
							)
							input(type='file', style="display:block;", accept="image/*", name="image")
							button.btn.btn-primary(type='submit', style="margin:10px 0 0;") Go!



					section#about(ng-controller="ControllerAbout")
						h2 About Text
						form(class="editor")
							textarea.textarea(placeholder='Enter text ...')
							br
							button(type="button", class="btn btn-success btn-large", ng-click="save()") Save
						h4 We
						.row
							.span3(ng-repeat="worker in workers", class="client")
								img(ng-src="{{worker.img}}" ,alt="")
								button(
								  ng-click="removeItem(worker._id, worker.type)", 
								  class="btn btn-danger") Удалить
						h4 Add
						form(method="post", 
							action="/admin/saveIteam", 
							enctype="multipart/form-data", 
							class="span6 well", style="margin:0 0 20px;"
							)
							.control-group
								label.control-label(for='name') Name
								.controls
									input#name.form-control(type='text', placeholder='Name', name="name", required, class="input-xlarge")
							.control-group
								label.control-label(for='job') Job
								.controls
									input#job.form-control(type='text', placeholder='Job', name="job", required, class="input-xlarge")
							.control-group	
								label.control-label() Фото
								.controls
									input(type='file', style="display:block;", accept="image/*", name="image")

							button.btn.btn-primary(type='submit', style="margin:10px 0 0;") Go!

					section#service(ng-controller="ControllerService")
						h2 Service Text
						form(class="editor")
							textarea.textarea(placeholder='Enter text ...')
							br
							button(type="button", class="btn btn-success btn-large", ng-click="save()") Save
						form(class="span6 well", style="margin:0 0 20px;")
							.control-group
								h4 Branding
								.controls#branding
									//- branding
									textarea.form-control(
										type='text', 
										placeholder='Branding', 
										name="branding"
										style="min-width:400px; min-height:100px;"
										value="{{$scope.branding}}")
									br
									input(type="checkbox", name="branding_visible") 
									|Hide
									br
									button(type="button", class="btn btn-success btn-large", ng-click="saveItem('branding')") Save
					section#work(ng-controller="ControllerWork")
						form(class="editor")
							textarea.textarea(placeholder='Enter text ...')
					section#contactacs(ng-controller="ControllerContacts")
						form(class="editor")
							textarea.textarea(placeholder='Enter text ...')
