!!!
html(ng-app="app")
	head(lang='ru')
		title Main Media Master
		meta(http-equiv='content-type', content='text/html; charset=UTF-8')
		meta(name='description', content='')
		meta(name='keywords', content='')
		meta(name="viewport", content="width=1100")

		// if lt IE 9
			script(type="text/javascript", src="//html5shiv.googlecode.com/svn/trunk/html5.js")

		link(rel="stylesheet", href="css/animate.min.css", type="text/css")
		link(rel="stylesheet", href="css/style.css", type="text/css")
		link(rel="stylesheet", href="css/liquidcarousel.css", type="text/css")
		link(rel="stylesheet", href="css/video-js.css", type="text/css")

		//- script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js")
		script(src="js/angular.min.js")
		script(src="js/app.js")
		script(src="js/controls.js")
	body
		//- header
		header
			.bg
			a#logo(href="#main").sprite.link main media master
			nav
				a(href="#about").link 
					|About
					span
				a(href="#service").link 
					|Service
					span
				a(href="#works").link 
					|Works
					span
				a(href="#contacts").link 
					|Contacs
					span
				a(href="#").nubmer
					.mb.sprite
					strong 212-639-9675
					span
		//- fotter
		footer
			p.copy &copy;2013, Main Media Master
			.links
				a(href="/", target="_blank").sprite
				a(href="/", target="_blank").sprite
				a(href="/", target="_blank").sprite
		//- content
		#scroll
			#container
				//- main
				section#main.now
					.wrapper-section
						video(class="video-js vjs-default-skin"
							  controls 
							  preload="auto" 
							  width="1100", height="400"
							  id="main_player"
							 )

						h2.title about
						p.description.text #{mainText}
						a.read-more.link(href="#about") Read more

						//- carousel
						.plushka.sprite Clients
						.carousel
							#liquid
								a.previous
									span.sprite
								a.next
									span.sprite
								.wrapper
										ul
											each client in clients
												li
													a(href='#')
														img(src="#{client.img}", alt=' ')
				//- about
				section#about
					.wrapper-section
						h2.title about
						p.description.text #{aboutText}
						//- grid
						.grid
							each worker in workers
								.div
									.img-wrapper
										img(src="#{worker.img}", alt=" ")
									.details
										p.name #{worker.name}
										p.job #{worker.job}
				//- service
				section#service
					.wrapper-section
						.title-bg
							h2.title Service
							p.description.text #{serviceText}
						.grid
							each service in services
								if service
									.div
										.sprite(class="#{service.className}")
										.details
											h3.title #{service.name}
											p.text #{service.text}
				//- works
				section#works
					.wrapper-section
						.slider-works
							.all-works
								video(class="video-js vjs-default-skin"
									controls 
									preload="auto" 
									width="1100", height="400"
									id="works_player"
								)
								h2.title works

								.grid
									each work in works
										.div(data-id="#{work._id}")
											.img-wrapper
												img(src="#{work.prewie}", alt=" ")
												p 
													span #{work.title}
							.one-work
								header
									h3.title.title-job Landscapes: Volume Two
									a(href="#").goback
										span.sprite
										|go back

								.video-block
								.img-block
									img(src=" ", alt=" ")
								p.description.text 

				//- works
				section#contacts
					.wrapper-section
						#map(style="width: 100%; height: 228px;")
						h2.title contacs
						p.description.text !{contactsText}

		//- script(src="//vjs.zencdn.net/4.1/video.js")
		script(src="js/jquery.min.js")
		//- script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		//- script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.5.1/jquery.nicescroll.min.js")
		script(src="js/jquery.nicescroll.min.js")
		//- script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyBr-kbGyzoFHxFLtHKcB2RvYPdSr0ENgvk&sensor=true")
		script(src="js/jquery.liquidcarousel.js")
		script(src="js/script.js")