section#work()
						.row
							.span12
						select(ng-model="language")
							option(value="ru") Русский
							option(value="en") English
						table(class="table table-striped")
							tr
								th Заголовок
								th Индекс
								th Миниатюра
								th Удалить
								th Изменить
							tr(ng-repeat="work in works | filter:language")
								td {{work.title}}
								td {{work.index}}
								td 
									img(ng-src="{{work.img}}", alt="")
								td
									button.btn.btn-danger(ng-click="remove(work._id)") Удалить
								td 
									button.btn.btn-warning(ng-click="change(work)") Изменить
						h3 Добавить роботу
						.row
							.span12
								form#uploadForm(action='/admin/fileUpload', method='post', enctype="multipart/form-data")
										input(type="file", name="fileUpload", required)
										.bg-location-submit
											button.btn.btn-danger(type='submit') Submit
								h4 Изображения
								#images
									div(ng-repeat="upload in uploads")
										p 
											img(ng-src="{{upload}}", alt="")
											|{{upload}}

									h6.status

								form(method="post", action="/admin/saveIteam", 
								enctype="multipart/form-data", class="saveWork")
									.control-group
										label.control-label(for='lognDescription') Описание
									.controls
										textarea.textarea#lognDescription.form-control(
												name="")
										input(type="hidden", value="description", name="lognDescription", class="description");
									.control-group
										label.control-label(for='title') Заголовок
									.controls
										input#title.form-control(type='text',
												placeholder='Title', 
												name="title", 
												required,
												maxlength="38",
												class="input-xlarge")
									.control-group
										label.control-label(for='index') Индекс
									.controls
										input#index.form-control(type='text',
												placeholder='Индекс', 
												name="index", 
												required,
												class="input-xlarge")
									.control-group
										label.control-label(for='') Язык
										.controls
											select(name="language", required)
												option(value="ru") Русский
												option(value="en") English
									.control-group
										label.control-label(for='previewimage') Preview image
									.controls
										input#previewimage.form-control(type='file',
												name="image",
												accept="image/*",
												required)
									.control-group
										label.control-label(for='id_video') Видео
									.controls
										textarea#id_video.form-control(type='text',
												name="id_video", class="input-xxlarge", style="height:80px;line-height:1;")
									input(type="hidden", name="category", value="work")
									button.btn.btn-primary(type='button', style="margin:10px 0 0;", ng-click="submit();") Go!